{% extends "base.html" %}

{% block content %}
    <h2>User Insights (Total : {{object_list|length}})</h2>
    <form action="run_generate_user_insight_task">
        <button type="submit" class="btn btn-primary">
            Call Generate Insight Task
        </button>
    </form>

    <table class="table table-bordered">
        <thead>
            <tr>
            <th scope="col">user_email</th>
            <th scope="col">Insight Description</th>
            <th scope="col">Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for insight in object_list %}
                <tr>
                    <td>{{ insight.user_email }}</td>
                    <td>{{ insight.description }}</td>
                    <td>{{ insight.created_at }}</td>
                </tr>
            {% endfor %}
            
        </tbody>
        </table>

{% endblock %}